*.pyc
application.config
development.config
.elasticbeanstalk/
release/
.idea/
.Python
bin
include
lib
pip-selfcheck.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
